<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7bfc0">  <td>19/11/12 22:03:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProTest.dataDropDownTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.bart.test.data.DataProTest@482f8f11]">dataDropDownTest</td> 
  <td>main@1216590855</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>19/11/12 22:03:44</td>   <td>2102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProTest.dataDropDownTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.bart.test.data.DataProTest@482f8f11]">dataDropDownTest</td> 
  <td>main@1216590855</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>19/11/12 22:03:39</td>   <td>-3004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProTest.fromTextBoxTest()[pri:0, instance:com.bart.test.data.DataProTest@482f8f11]">fromTextBoxTest</td> 
  <td>main@1216590855</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>19/11/12 22:03:25</td>   <td>-17101</td> <td title="&gt;&gt;BaseTest.inIt()[pri:0, instance:com.bart.test.data.DataProTest@482f8f11]">&gt;&gt;inIt</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1216590855</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>19/11/12 22:03:45</td>   <td>3733</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.bart.test.data.DataProTest@482f8f11]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1216590855</td>   <td></td> </tr>
</table>
